.HomePage {
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
nav{
   
    position: fixed;
    margin-top: -19;
}
.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    z-index: 1000;
   
}

.index-container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 